<div class="footer">
    <div class="inner-footer">

      <!--  for company name and description -->
      <div class="footer-items">
        <h1>Sheba</h1>
        <p>front end & UI </p>
      </div>

      <!--  for quick links  -->
      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div>
        <!--for the underline -->
        <ul>
          <a href="#">
            <li>Home</li>
          </a>
          <a href="#">
            <li>About</li>
          </a>
          <a href="#">
            <li>Service</li>
          </a>
          <a href="#">
            <li>Contact</li>
          </a>
        </ul>
      </div>

      <!--  for some other links -->
      <div class="footer-items">
        <h3>Services</h3>
        <div class="border1"></div>
        <!--for the underline -->
        <ul>
          <a href="#">
            <li>UI</li>
          </a>
          <a href="#">
            <li>front end</li>
          </a>
          <a href="#">
            <li>desginer</li>
          </a>
          <a href="#">
            <li>developer</li>
          </a>
        </ul>
      </div>

      <!--  for contact us info -->
      <div class="footer-items">
        <h3>Contact us</h3>
        <div class="border1"></div>
        <ul>
          <li>Yemen, sanaa</li>
          <li>770025168</li>
          <li>sabaa.alshamery@gmail.com</li>
        </ul>

      </div>
    </div>

    <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy;Sheba.
    </div>
  </div>
  <!-- end footer -->