<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">Sheba</div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">services</a></li>
      <li><a href="/">contact</a></li>
     
    </div>


  </ul>
</nav>